discord~=1.0.1
requests~=2.20.0
asyncio~=3.4.3
datetime~=4.3
async-timeout
attrs
certifi
chardet<4.0,>=2.0
idna<2.8,>=2.5
lxml
multidict
pip
pyfiglet
bs4~=0.0.1
urllib3<1.25,>=1.21.1
yarl
art~=5.1
langdetect~=1.0.8
transliterate~=1.10.2
praw~=7.2.0
pillow
glitch_this